.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(151, 150, 149, 0.5);
  margin-bottom: 15px;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: black;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
.text {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: black;
}
